extends layout

block mainContent
	p
		a(href='/index', class="button small pink") &laquo;  Back to index

	if error
		p.error Something went terribly bad: #{error}
		
	h2 Showing your EPCIS: #{epcisname}
		
	p 
	form(method='post')
		div(class='listRow')
			label Enter the EPCIS query:
			p
			textarea(name='epcisquery', value='#{epcisquery}')
	
		div.formFooter
			input(type='submit', value='Query')
		
		
		